<?xml version='1.0' encoding='utf-8'?>
<widget id="com.twogtwom.refeitorio.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>2G2M Refeitório</name>
    <description>Sistema Totem PDV de Acesso ao Refeitório 2G2M</description>
    <author email="suporte@2g2m.com" href="https://2g2m.com">2G2M Support</author>
    
    <content src="index.html" />
    
    <!-- Security and Access Rules -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    
    <!-- VoltBuilder and Cordova Preferences -->
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="KeepRunning" value="true" />
    <preference name="ShowSplashScreen" value="false" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="default" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="#ffffff" />

    <!-- Plugin nativo Gertec/Topwise: fala diretamente com o SDK real da
         impressora térmica embutida do SK210 via AIDL. Ver plugins/cordova-plugin-gertec-printer. -->
    <plugin name="cordova-plugin-gertec-printer" spec="../plugins/cordova-plugin-gertec-printer" />

    <!-- Hook que corrige eventuais imports pendentes de AndroidX em
         plugins de terceiros. Ver hooks/fix-printer-androidx.js -->
    <hook type="after_prepare" src="hooks/fix-printer-androidx.js" />
</widget>
